/* fonts */
@font-face {
    font-family:"Releway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family:"Releway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Releway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: "Releway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family:"Releway-samibold";
    src: url(../fonts/Raleway-SamiBold.ttf);
}
@font-face {
    font-family:"Releway-black";
    src: url(../fonts/Raleway-Black.ttf);
}

/* colors */
:root {
    --primary:#EEBF00;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --footer: #2D333F;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Releway-regular";
    -webkit-font-smoothing: antialiAsed;
    scroll-behavior: smooth;
}
section {
    padding: 4rem 0;
}
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: var(--pure);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}
/* Utlity Class */
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.magic-shadows {
    position: relative;
    color: var(--heaven);
}
.magic-shadows::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 69px;
    background: url(../icons/shadow.svg) no-repeat center;
    bottom:-22px;
    z-index: -1;
}
.magic-shadows-sm {
    position: relative;
    color: var(--heaven);
}
.magic-shadows-sm::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 69px;
    background: url(../icons/shadow-sm.svg) no-repeat center;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.btn {
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition:all 0.3s ease;
    border: 1px solid transparent;
}
.btn-primary {
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover {
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary {
    background: var(--secondary);
    color: var(--heaven);
}
.btn-secondary:hover {
    background: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
.section-heading {
    font-family: "Releway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
.section-heading::after {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background: url(../icons/hr.svg) no-repeat center;
    position: absolute;
    bottom: -40px;
}
.text-center {
    text-align: center;
}
.text-primary {
    color: var(--primary);
}
.text-pure {
    color: var(--pure);
}
/* responsive */
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width:792px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1152px;
    }
}

header.topbar {
    background: var(--secondary);
    color: var(--pure);
    font-family: Releway-samibold;
    padding: 0.75rem 0;
}
header.topbar .auth > div a {
    color: var(--pure);
    text-decoration: none;
}
header.topbar .icons a {
    margin-right: 0.6rem;
}
header.topbar .auth .divider {
    padding: 0 1rem;
}
header.topbar .auth>div img {
    margin-right: 0.35rem;
}
nav .top {
    padding: 1.5rem 0;
}
nav .top .contact h5,
nav .top .time h5 {
    font-family: Releway-black;
    margin-bottom: 0.25rem;
}
nav .top .contact h6,
nav .top .time h6 {
    font-family: Releway-medium;
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}
nav .top .contact img,
nav .top .time img {
    margin-right: 1rem;
}
nav .navbar {
    background: var(--heaven);
}
nav .navbar a {
    text-decoration: none;
    color: var(--secondary);
    font-family:"Releway-samibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
}
nav .navbar a.active,
nav .navbar a:hover {
    background: var(--primary);
    color: var(--pure);
}
header.hero {
    height: 600px;
    background: url(../images/hero.png) no-repeat;
    background-position: 0% 0%;
    overflow: hidden;
    background-size: cover;
}
header.hero .container {
    position: relative;
}
header.hero .welcome {
    margin-bottom: 0.25rem;
}
header.hero .welcome span {
    font-family: "Releway-bold";
    color: var(--secondary);
    margin-right: 0.75rem;
}
header.hero h1 {
    font-family: "Releway-extrabold";
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
header.hero h1 span {
    color: var(--primary);
}
header.hero p {
    font-family: "Releway-medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}
header.hero button:first-child {
    margin-right: 0.50rem;
}
header.hero .hero-images {
    position: absolute;
    top: -40px;
    right: 40px;
}
section.top-products {
    background: var(--light);
}
section.top-products .slider {
    position: relative;
}
section.top-products .food-slider .food-card {
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
}
section.top-products .food-slider .food-card .product-image img {
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem;
}
hr {
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
section.top-products .food-slider .food-card h2 {
    font-family: "Releway-bold";
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
    color: var(--secondary);
}
section.top-products .food-slider .food-card .stars {
    margin-bottom: 0.5rem;
}
section.top-products .food-slider .food-card .stars img {
    margin-right: 0.25rem;
}
section.top-products .food-slider .food-card .price {
    font-family:"Releway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}

section.top-products .food-slider .food-card button {
    font-family:"Releway-medium";
    color: var(--secondary);
    background: var(--heaven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
section.top-products .food-slider .food-card button:hover {
    background: var(--primary);
    color: var(--heaven);
}
section.top-products .food-slider .food-card button img {
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}
.slick-slide {
    margin: 0 27px;
}
.slick-list {
    margin: 0 -27px;
}
.top-products .slider-btn {
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.prev-btn {
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}
.next-btn {
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}
.top-products .slider {
    position: relative;
}
.top-products .btn-wrapper {
    margin-top: 2rem;
}
.slick-track {
    padding: 1rem 0;
}
section.about-meal img {
    width: 85%;
}
section.about-meal h2 {
    font-family: "Releway-bold";
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    line-height: 1.3rem;
}
section.about-meal p {
    line-height: 1.7;
    margin-bottom: 4rem;
}
section.our-services .card-wrapper {
    margin-right: -2rem;
    margin-top: 8rem;
}
section.our-services {
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.our-services .service-card {
    background: var(--heaven);
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    margin-right: 2rem;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
section.our-services .service-card .icon {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.our-services .service-card h2 {
    font-family: "Releway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--secondary);
}
section.our-services .service-card p {
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--secondary);
}
section.big-deal {
    background: linear-gradient(rgba(35, 43, 56, 0.9), rgba(35, 43, 56, 0.9)),url(../images/food-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
section.big-deal .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
    margin-bottom: 2rem;
}
section.big-deal .timer div {
    margin-right: 2rem;
    background: var(--primary);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
section.big-deal .timer div span:first-child {
    font-family:"Releway-samibold";
    font-size: 2.5rem;
    color: var(--heaven);
    margin-bottom: 0.05rem;
}
section.big-deal .timer div span:last-child {
    font-family:"Releway-medium";
    color: var(--heaven);
}
section.latest-news {
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.latest-news .article-wrapper {
    display: flex;
    margin-right: -2rem;
}
.latest-news .article-wrapper .card {
    margin-right: 2rem;
    background: var(--heaven);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.latest-news .article-wrapper .card img {
    width: 100%;
}
.latest-news .article-wrapper .card .card-content {
    padding: 2rem;
}
.latest-news .article-wrapper .card .card-content h2 {
    font-family: "Releway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--secondary);
}
.latest-news .article-wrapper .card .card-content p {
    line-height: 1.6;
    color: var(--secondary);
}
.latest-news .article-wrapper .card .card-content .post-meta {
    margin-bottom: 1rem;
}
.latest-news .article-wrapper .card .card-content .post-meta span {
    color: var(--secondary);
}
.latest-news .article-wrapper .card .card-content .post-meta .comment-count {
    margin-left: 1rem;
}
.latest-news .btn-wrapper {
    margin-top: 2rem;
}
section.subscribe {
    background: var(--primary);
}
section.subscribe .container > div:first-child img {
    width: 90%;
}
section.subscribe .container div:first-child {
    flex: 1;
}
section.subscribe .container div:last-child {
    flex: 1;
}
section.subscribe h1 {
    font-family: "Releway-bold";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe p {
    font-family: "Releway-medium";
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
section.subscribe .input-wrapper {
    background: var(--heaven);
    display: flex;
    padding: 0.3rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
section.subscribe .input-wrapper input {
    width: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}
section.subscribe .input-wrapper button {
    padding: 0.8rem 2rem;
    border: none;
    background: var(--primary);
    color: var(--pure);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
section.subscribe .input-wrapper button:hover {
    background: var(--secondary);
}
section.contact-us {
    padding: 0;
}
section.contact-us .contact-info-wrapper {
    padding: 4rem 0;
    flex: 1;
}
section.contact-us .map {
    flex: 1;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
section.contact-us .contact-info-wrapper .contact-info {
    display: flex;
    justify-content: center;
}
section.contact-us .contact-info-wrapper .contact-info>div>div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
} 
section.contact-us .contact-info-wrapper .contact-info>div>div img {
    margin-right: 1rem;
}
section.contact-us .contact-info-wrapper .contact-info>div>div>div {
    display: flex;
    flex-direction: column;
}
section.contact-us .contact-info-wrapper .contact-info>div>div>div span:first-child {
    font-family: "Releway-bold";
    margin-bottom: 0.25rem;
}
footer {
    background: var(--footer);
    padding: 4rem 0;
}
footer .container {
    display: flex;
    color: var(--pure);
}
footer .box {
    flex: 1;
    margin-right: 2rem;
    text-align: center;
}
footer .instagram-api img {
    width: 100%;
    height: 100%;
    object-fit: content;
}
footer .instagram-api .post-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .instagram-api .post-wrapper>div {
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
}
footer .box ul {
    list-style: none;
}
footer .box ul li a {
    color: var(--pure);
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
footer .box ul li {
    margin-bottom: 1rem;
}
footer .box ul li a:hover {
    color: var(--pure);
}
footer .box h3 {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .box p {
    line-height: 1.6;
    margin-bottom: 1rem;
}
footer .box:nth-child(3)>div {
    display: flex;
    justify-content: content;
}
footer .box:nth-child(3) {
    text-align: left;
}
footer .box:nth-child(3) h3 {
    text-align: center;
}
footer .box:nth-child(3)>div img {
    margin-right: 1rem;
}
footer .box:nth-child(3) ul li {
    margin-bottom: 1.5rem;
}
footer.copyright {
    padding: 1rem 0;
    background: var(--secondary);
    color: var(--pure);
    text-align: center;
    font-size: 0.75rem;
}
footer.copyright a {
    color: var(--pure);
    text-decoration: none;
}